:root {
    --color-light-tan: #fcfae5;
    --color-dark-blue: darkblue;
    --color-shady-gray: #7c7b6d;
    --color-shady-gray-trans: #7c7b6d44;
    --color-shadow-black: #000000;
    --color-shadow-black-trans: #0000002A;
    --color-light-white: #ffffff;
    --color-light-white-trans: #ffffff4d;
    --color-transparent: #00000000;
}

body {
    margin: 0px;
    background-color: var(--color-light-tan);
    color: var(--color-dark-blue);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    text-align: left;
}

#navbar-container {
    width: 100%;
}

.homepage-container {
    padding: 20px;
}

/* named "flex..." to avoid name colisions with bootstrap */
.flexcolumn {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.flexrow {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#game-viewholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.game-viewholder img {
    width: 100%;
    min-width: 500px;
    height: auto;
}
.ad {
    padding: 20px;
}
.ad img {
    height: 545px;
    width: auto;
}
.header {
    position: relative;
    left: 40px;
    max-width: calc(100% - 40px);
    font-size: 30px;
}
.content {
    padding: 20px;
    width: 100%;
}

.game-thumbnail-container {
    width: 33vw;
    padding: 30px;
}
.game-thumbnail-container:hover {
    background-color: var(--color-shadow-black-trans);
}
.game-thumbnail {
    width: 100%;
    height: auto;
    background-color: var(--color-shady-gray-trans);
    stroke: var(--color-dark-blue);
    stroke-width: 2px;
    fill: var(--color-dark-blue);
}

h1 {
    font-size: 50px;
    text-align: left;
}

h2 {
    font-size: 30px;
    text-align: left;
}
