:root {
    --color-light-tan: #fcfae5;
    --color-dark-blue: darkblue;
    --color-shady-gray: #7c7b6d;
    --color-shady-gray-trans: #7c7b6d44;
    --color-shadow-black-trans: #0000002A;
    --color-light-white: #ffffff;
    --color-light-white-trans: #ffffff4d;
}

body {
    margin: 0px;
    background-color: var(--color-light-tan);
    color: var(--color-dark-blue);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    text-align: left;
}

#navbar-container {
    width: 100%;
}

/* named "flex..." to avoid name colisions with bootstrap */
.flexcolumn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
}
.flexrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;    /* Change this */
}
.game {
    padding-left: 10px;
    padding-top: 10px;
}
.game img {
    width: 1000px;
    height: auto;
}
.ad {
    margin-left: 10px;
    padding-left: 10px; 
    margin-top: 10px;
    padding-top: 10px; 
}
.ad img {
    height: 545px;
    width: auto;

}
.header {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 30px;
}
.content {
    padding-left: 10px;
    margin-left: 10px;
    width : 1100px;
}

.game-thumbnail-container {
    width: 33vw;
    padding: 30px;
}
.game-thumbnail-container:hover {
    background-color: var(--color-shadow-black-trans);
}
.game-thumbnail {
    width: 100%;
    height: auto;
    background-color: var(--color-shady-gray-trans);
    stroke: var(--color-dark-blue);
    stroke-width: 2px;
    fill: var(--color-dark-blue);
}

h1 {
    font-size: 50px;
    text-align: left;
}

h2 {
    font-size: 30px;
    text-align: left;
}
