:root {
  --color-soft-white: #f1f6ff;
  --color-space-gray: #6f7381;
  --color-deep-black: #232323;
  --color-deep-black-trans: #232323cc;
  --color-red-player-line: #d96262;
  --color-blue-player-line: #5786de;
  --color-red-player-box: #d52d2d;
  --color-blue-player-box: #2960c6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
