:root {
    --BoardSquare-border-size: 1vw;
    --Board-extra-padding: 1vw;

    --BoardSquare-overlap-compensation: calc(-0.5 * var(--BoardSquare-border-size));
    --Board-neg-margin-compensation: var(--BoardSquare-border-size);
    --Board-total-padding: calc(var(--Board-extra-padding) + var(--Board-neg-margin-compensation));
}

.Board {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--Board-total-padding);
    width: 100%;
    height: 100%;
}

.Board * {
    user-select: none;
}

.Board-Row {
    display: flex;
    flex-flow: row nowrap;
}

.BoardSquare {
    margin: var(--BoardSquare-overlap-compensation);
    width: 25vw;
    height: 25vw;
    box-sizing: border-box;
    border: var(--BoardSquare-border-size) solid;
}

.BoardSquare.selected::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--color-deep-black);
    opacity: 36%;
}
.Board.player-blue-turn .BoardSquare.selected::after {
    background-color: var(--color-blue-player);
}
.Board.player-red-turn .BoardSquare.selected::after {
    background-color: var(--color-red-player);
}
