:root {
    --NeutralToken-size: calc(var(--PlayerPiece-size) / 4);
    --NeutralToken-indent: var(--PlayerPiece-indent);
}

.NeutralToken {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--NeutralToken-size);
    height: var(--NeutralToken-size);
}

.NeutralToken-Circle {
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    background-color: var(--color-space-gray);
    border-radius: 50%;
}

.NeutralToken.faded {
    opacity: 40%;
}
