:root {
    --PlayerPiece-size: calc(100vw - 2*var(--Board-total-padding));
    --PlayerPiece-indent: calc(var(--Board-total-padding));
}

.PlayerPiece {
    position: absolute;
    top: var(--PlayerPiece-indent);
    left: var(--PlayerPiece-indent);
    width: var(--PlayerPiece-size);
    height: var(--PlayerPiece-size);
    z-index: -1;
}

.PlayerPiece-Square {
    position: absolute;
    width: 25%;
    height: 25%;
}

.PlayerPiece.player-blue .PlayerPiece-Square {
    background-color: var(--color-blue-player);
}
.PlayerPiece.player-red .PlayerPiece-Square {
    background-color: var(--color-red-player);
}
